.mainjumbotron {
  background-image: url("mainlogo.png");
  background-position: center;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

.story {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 150%;
  text-align: center;
}


.ourproducts {
  background-color: #503b3b;
  color: white;
}


body {
  background-color: white;
}

.navbar {
  margin-bottom: 1%;
  border-radius: 0;
  background-color: #503b3b;
  color: white;

}



.toy {
  padding-bottom: 10%;
  font-size: 100%;
}

.planeimg {
  padding-left: 10%;
}


.aboutjumbotron {
  background-color: white;
  height: 130px;
}

#abouttext{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
}

footer {
  padding-left: 50%;
  padding-right: 5%;
}
